################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MAUI.CollectionViewIssues/bin
/MAUI.CollectionViewIssues/obj
/MAUI.CollectionViewIssues/MAUI.CollectionViewIssues.csproj.user
